@model Quimipac_.Models.MT_OrdenTrabajo_Formulario

@{
    Layout = null;
    var attributes = new Dictionary<string, object>();
    attributes.Add("Id", "FormAgregarFormulario_OTActividad");
    attributes.Add("enctype", "multipart/form-data");
    attributes.Add("autocomplete", "off");


}

<link rel="stylesheet" href="~/Content/bower_components/FiltroDataTable/ValidaInputVQ/css/contornoText.css">
@using (Html.BeginForm("AgregarFormulario_Actividad", "OrdenTrabajo", FormMethod.Post, attributes))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">


        <div class="row">
            <div class="col-md-12">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>

        </div>

        <div class="form-group">
            <label for="InputFile" class="col-md-2 control-label">Archivo:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.NombreArchivo, new { htmlAttributes = new { @class = "form-control", @type = "file", @required = "required" } })
                @Html.ValidationMessageFor(model => model.NombreArchivo, "", new { @class = "text-danger" })
            </div>

        </div>

       
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <input type="submit" value="Crear" class="Crear_MTPR btn btn-warning" />
        </div>


    </div>
}

