
@using Quimipac_.Models
@using Quimipac_.Repositorio;
@model Quimipac_.Models.MT_Notificaciones
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    var listaNotificacion = ViewBag.listaNotificacion as List<sp_Quimipac_Consulta_Notificaciones_General_Result>;

}

<title>Fronter | Notificaciones </title>

<link rel="stylesheet" href="~/Content/bower_components/datatables.net-bs/css/dataTables.bootstrap.css">



<!--Barra de div-->
<link rel="stylesheet" href="~/Content/bower_components/FiltroDataTable/FiltroXFecha/datatableMin/datatables.min.css" />
@*<link rel="stylesheet" href="~/Content/bower_components/FiltroDataTable/barraDiv/jquery.mCustomScrollbar.css">*@

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- EstiloGeneral-->
<link rel="stylesheet" href="~/Content/bower_components/EstiloExterno/EstiloGral.css" />


<section class="content-header">
    <h2 style="text-align:left">
       Notificaciones Recibida
    </h2>
</section>
<section class="content">


    <div class="row">
        <div class="col-md-12">



            @{
        string Correos = string.Empty;
        string cadena = HttpContext.Current.Request.Url.AbsoluteUri;
        string[] Separado = cadena.Split('/');
        string Final = Separado[Separado.Length - 1];
        var dbe = new DataBase_Externo();

        var lkEstado = dbe.LkObtenerNotificacion(Convert.ToInt32(Final));

        dbe.LkActualizaEstado(Convert.ToInt32(Final));


        foreach (var item in lkEstado)
        {
            <div class="box box-default" id="BordeDiv">
                <div class="box-header" id="CssDivBox">
                    <h3 class="box-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Bienvenido</font></font></h3>
                </div>

                <div class="box-body no-padding">
                    <div class="mailbox-read-info">
                        <h3><font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;" size="2">
                            <i class="glyphicon glyphicon-book"></i> <b>Asunto: </b>@item.Asunto </font></font></h3>
                        <h5>
                            @{
                        var lkCorreo = dbe.LkObtenerCorreo(item.Id_Notificacion);
                        foreach (var correo in lkCorreo)
                        {
                            Correos = correo.Correo;
                        }
                            }
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;" size="2">
                                <i class="glyphicon glyphicon-user"></i> <b> Correo:</b>@Correos</font>
                            </font>
                            <span class="mailbox-read-time pull-right"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><i class="glyphicon glyphicon-calendar"></i>  Fecha: </font> @item.Fecha</font></span>
                        </h5>
                    </div>

                    <div class="mailbox-controls with-border text-left">

                        <h3 class="box-title"><font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;"  size="2"><i class="glyphicon glyphicon-envelope"></i> <b> Mensaje:</b> </font></font></h3>

                    </div>
                    <br />
                    <div class="mailbox-read-message">
                        <p align="justify" line-height: 150%;>@item.Mensaje</p>
                        @*<p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Hola John,</font></font></p>

                    <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Keffiyeh blog en realidad moda hacha vegana, biodiesel de ironía. </font><font style="vertical-align: inherit;">Sudadera prensada en frío chillwave puso un pájaro en su estética, amargo brunch, meggings, iPhone vegano. </font><font style="vertical-align: inherit;">Dreamcatcher vegan scenester mlkshk. <font style="vertical-align: inherit;">Marfa carnicero vegano quinoa, derechos de bicicleta interrumpen tofu scenester chillwave 3 lobo luna taxidermia asimétrica vertido. </font><font style="vertical-align: inherit;">La bolsa de asas de la quinua a la moda hacha, Godard interrumpe migas church-key tofu blog locavore. </font><font style="vertical-align: inherit;">Thundercats cronut polaroid Neutra tousled, meh food truck selfies narwhal American Apparel.</font></font></p>*@


                    </div>

                </div>

            </div>
}



            }
        </div>


    </div>


</section>
